:root {
  --text-secondary: #aaaaae;
  --Text: #ffffff;
  --Backgrownd-Black: rgb(18, 18, 18);
}


#Header-sticky {
  padding:  2rem 12.5% 2rem 12.5%;
  background-color: var(--Backgrownd-Black);
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  
}

#Header-sticky-Searchdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 32, 32);
  height: 2.8rem;
  border-radius: 2rem;
}

#Header-sticky-magnifying_glass-Button-div {
  height: 100%;
  width: 3.3rem;
  display: flex;
  justify-content: center; 
}

#Header-sticky-magnifying_glass-Button {
  height: 100%;
  width: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

#Header-sticky-magnifying_glass-img {
  width: 100%;
  filter: invert(100%);
}

#Header-sticky-input {
  background-color: transparent;
  border: none;
  height: 70%;
  font-size: 1rem;
  overflow: hidden;
  color: rgb(245, 245, 245);
  outline: 0;
  font-weight: 500;
}

#Header-sticky-Searchdiv-replacement-div {
  justify-content: center;
  align-items: center;
  display: none;
}

#Header-sticky-Searchdiv-replacement {
  height: 1.5em;
  filter: brightness(2);
}

#Header-sticky-Searchdiv-replacement:hover {
  cursor: pointer;
}

#Header-sticky-websiteOptions-div {
  flex-grow: 1;
  display: flex;
  column-gap: 1.5rem;
  margin-left: 2rem;
}

.Header-sticky-websiteOptions-buttons {
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-secondary);
  border: none;

  transition-property: color;
  transition-duration: 0.15s;
  font-weight: normal;
}

.Header-sticky-websiteOptions-buttons:hover {
  color: var(--Text);
  cursor: pointer;
}

.Header-sticky-check-markCart {
  height: 1.5em;
  filter: invert(65%);
  display: none;

  transition-property: filter;
  transition-duration: .2s;
}

.Header-sticky-check-markCart:hover {
  filter: invert(100%);
  cursor: pointer;
}

#Header-sticky-websiteOptions-arrow {
  height: .65em;
  filter: invert(100%);
  display: none;
}

#Header-sticky-Discover {
  color: var(--Text);
  display: flex;
  align-items: center;
}

#Header-sticky-WishlistCart-div {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 1.5rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .Header-sticky-WishlistCart-buttons {
    display: none;
  }

  .Header-sticky-check-markCart {
    display: block;
  }

  #Header-sticky-WishlistCart-div {
    margin: 0;
    justify-content: center;
  }

  #Header-sticky-websiteOptions-arrow {
    display: block;
  }

  #Header-sticky-websiteOptions-div {
    justify-content: center;
    margin: 0;
  }

  #Header-sticky-News {
    display: none;
  }

  #Header-sticky-Browse {
    display: none;
  }

  #Header-sticky {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }

  #Header-sticky-Searchdiv-replacement-div {
    display: flex;
  }

  #Header-sticky-Searchdiv {
    display: none;
  }

}

@media screen and (max-width: 600px) {
  #Header-sticky-WishlistCart-div {
    justify-content: left;
  }
}