main {
  width: 74vw;
  margin-left: auto;
  margin-right: auto;
}

#main-img-Slider-div {
  width: 100%;

  display: flex;
}

#img-Slider-div {
  width: 81%;
}

#img-Slider-img {
  width: 100%;
  border-radius: 1.27rem;
}

#img-Slider-rightSection {
  width: 17%;
  /* calculate what height the picture makes the parent div */
  height: calc(74vw * 0.81 * 720 / 1280);
}

#img-Slider-ul {
  width: calc(100% - 8%);
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding-left: 8%;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  row-gap: calc((100% / 6) - 16%);
}

#img-Slider-ul::-webkit-scrollbar {
  display: none;
}

.img-Slider-li {
  display: flex;
  align-items: center;

  width: 100%;
  height: 16%;
  background-color: transparent;
  border-radius: 1vw;

  transition-property: background-color;
  transition-duration: 0.2s;
}

.img-Slider-li:hover {
  background-color: rgb(55, 55, 55);
  cursor: pointer;
}

.img-Slider-li-img {
  border-radius: 0.5vw;
  height: 100%;
}

.img-Slider-li-picure {
  height: 65%;
  margin-left: 5%;
}

.img-Slider-li-p {
  margin-left: 5%;
  color: rgb(245, 245, 245);
  font-size: 1vw;
}

@media screen and (max-width: 900px) {
  main {
    width: 100%;
  }

  #main-img-Slider-div {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #img-Slider-rightSection {
    height: calc(96vw * 0.81 * 720 / 1280);
  }
}

@media screen and (max-width: 700px) {

  #main-img-Slider-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
  }

  #img-Slider-div {
    display: none;
  }

  #img-Slider-rightSection {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    height: unset;

    padding-left: 0;
    padding-right: 0;
  }

  #img-Slider-ul {
    width: calc(100% - 2 * 4vw);
    height: unset;
    padding-left: 4vw;
    padding-right: 4vw;
    overflow-x: scroll;
  
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
  }

  .img-Slider-li {  
    height: calc(80vw * 16 / 12);
    width: 80vw;
    border-radius: 5vw;
  }

  .img-Slider-li-img {
    height: 100%;
    border-radius: 5vw;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .img-Slider-li-picure {
    height: calc((80vw * 16 / 12));
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .img-Slider-li-p {
    display: none;
  }
}